
<form id="form" name="profileForm">

    <div class="form-control">
        <label for="name" id="label-name" >Name</label>
        <input type="text" id="name" placeholder="Enter your name" name="user_name" ng-Model="user.user_name"
         ng-maxlength="4" ng-required="true" >
        <span class="error" ng-show="profileForm.user_name.$invalid">Please enter characters below 10 </span>
    </div>

    <div class="form-control">
        <label for="email" id="label-email">
            Email
        </label>

        <input type="email" id="email" placeholder="Enter your email" ng-Model="user.email" />
    </div>

    <div class="form-control">
        <label for="Password" id="label-password">
            Password
        </label>
        <input type="text" name="password" id="password" placeholder="Password"  ng-Model="user.password" />

        </div>

        
        <div class="form-control">
            <label for="reTypePassword" id="label-reTypePassword">
                Re-Type Password
            </label>
        <input type="text" id="reTypePassword" name="reTypePassword" placeholder="Re-Type Password" 
        ng-Model="user.reTypePassword" />

            </div>

    <button type="submit" class="btn btn-primary btn-block" value="submit" ng-disabled="profileForm.$invalid">
        Submit
    </button>
</form>