

.content{
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 2% 2%;
}

button{
    background-color: black;
    color: #fff;
}
button:hover{
    color: #fff;
}

.error{
    color: red;
}